.button-list
    background-color: #dc3545;
    color: #fff;
    position: fixed;
    right: 0px;
    z-index: 9;
    top: 20px;
    -webkit-animation: list 1.5s infinite;


@-webkit-keyframes list
    20%
        background-color: red;
    100%
        background-color: #dc3545;